django-mail-templated
markdown
django-decouple
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.5
django-summernote==0.8.20.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
Pillow
black
djoser
flake8
kavenegar